<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body style="font-family:Arial;background:#f4f4f4;padding:30px;">

<table width="600" align="center" cellpadding="20"
       style="background:white;border-radius:8px;">

<tr>
<td>

<h1>Welcome {{ username }}!</h1>

<p>Thank you for registering with <strong>Product API</strong>.</p>

<p>We are excited to have you on board.</p>

<p>Your registered email is:</p>

<p><b>{{ email }}</b></p>

<hr>

<p style="font-size:12px;color:gray;">
This is an automated email. Please do not reply.
</p>

</td>
</tr>

</table>

</body>
</html>